html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.active{
  color: brown;
}
.notfound{
  font-size: 6rem;
}

iframe{
  height: 100%;
  width: 100%;
}
.form-select:focus{
  border-color: #30bb47 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(93, 197, 119, 0.25) !important;
}
.form-control:focus{
  border-color: #30bb47 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(93, 197, 119, 0.25) !important;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
}
